#page-hero {
  background-blend-mode: overlay, multiply;;
  background-color: rgba(0, 0, 0, 0.75);
  background-image: url('../img/downtown-jersey-city.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 640px;
  position: relative;

  &:after {
    position: absolute;
  }
}

.page-title {
  color: #b3b3b3;
  margin-top: 100px;
  text-align: center;

  h1 {
    color: #e8e8e8;
    font-size: 60px;
    margin-top: 0;
  }

  h3 {
    color: #cacaca;
    font-size: 28px;
  }
}
