html, body {
  height: 100%;
}

body {
  background-color: #f5f6f7;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

button:focus, button:active {outline:0 !important;}

h1, h2, h3, h4, h5, h6 {
  color: rgb(51, 51, 51);
  display: block;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 1;
  margin-top: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  margin-bottom: 30px;
}

h3 {
  font-size: 2rem;
  margin-bottom: 30px;
}

p {
  color: rgb(51, 51, 51);
  display: block;
  font-size: 16px;
  margin: auto auto 1.5em;
}

.section {
  margin-bottom: 40px;
}

.btn {
  border: none;
}

.btn-default {
  background-color: $teal;
  color: #e8e8e8;
}

#btn-summary {
  display: block;
  margin: 0 auto;
  width: 200px;
}
